/* ==========================================================================
                          Global Styles
========================================================================== */
*{
    margin:0 auto;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Montserrat", sans-serif;


}

h1 {
  font-size: 5.4rem;
  font-weight: 900;
  color: #070707;
  background-color:#bbadad;
}

h2 {
  font-size: 4rem;
}
h3 {
  font-size: 4rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.6rem;
}

p {
  font-size: 1.7rem
}

/* ==========================================================================
                           Header section
========================================================================== */
header {
  padding: 0;
  background-color: #eff5f3;
  border: 2rem solid rgb(88, 132, 139);
  display: flex;
  justify-content: space-between;

}
 
#restaurant-name {
  text-align: left;
  background-color:  rgb(88, 132, 139);
  padding:1.5rem;
  margin-right: 30rem;
  margin-left: -30rem;
}
/* ==========================================================================
                           Nav section
========================================================================== */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0 1px 50px;
  flex-direction: row;
  min-height: 10vh;
  width: 60%;
  flex-wrap: wrap;

}
.logo {
    flex: 1 1 10rem;
   justify-content: flex-start;
   align-items: center;
   flex-direction: row;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex: 1 1 40rem;
  list-style-type: none; 
  }

li {
    display: inline-block;
    padding:3px 40px 8px 0px;
    font-size: 2.6rem;
    text-align: left;
}


li a {
    color: rgb(24, 21, 21);
    text-decoration: none;
    

} 


/* ==========================================================================
                           Main section
========================================================================== */

/* ==========================================================================
                           Hero section
========================================================================== */
.hero {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("./img/hero4.jpg");
    width: 80%;
    margin: 3rem auto;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

/* ==========================================================================
                           Images section
========================================================================== */
.menu {
  background: #b9c9c3;
  text-align: center;
   padding: 2.5rem;
   margin: 1.4rem;
  
}


.menu-head {
  background: #d2d6db;
  padding: 1rem;
  width:20%;
  border-radius: 1rem;
  min-height: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.menu-head h3 {
  padding: 1rem;
}



.cards {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  min-height: 20vh;
  align-items: center;
  justify-content: center;

}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30rem;
  height: auto;
  background-color: #FFF;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  flex: 1 1 25rem; 
  min-height: 40vh;
  min-width: 35vh; 
  margin: 2rem 2rem;
  /* box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
  transition: .3s; */
}

.cards img {     /*  Behind images and cards */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28rem;
  height: 28rem;
  border-radius:50%;
  margin-bottom: 1rem;
  align-items: center;
  max-width: 100%;
  margin: 0 0 auto;
  padding: auto;
}


.card-icon {
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border: 1.5rem solid #fafafa;
 
}


.card h4,
.card p {
  padding: 1rem;
  line-height: 1.8;
}

/* ==========================================================================
                           Footer section
========================================================================== */


footer{
    background: #b9c9c3;
    color: white;
    min-height: 10vh;
    padding: 0% 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

footer ul{
        flex:1 1 40rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
      
    }
    h4 {
        flex: 1 1 40rem;
    }

/* ==========================================================================
                           Culture Page
========================================================================== */


  
/* ==========================================================================
                           Video Page
========================================================================== */


/* ==========================================================================
                           Queries
========================================================================== */

/* @media (min-width: 768px) and (max-width: 1024px) {
  nav{
    padding: 0px 0 0px 0px;
  }
  li a{
      font-size: 2rem;
      left: 10 0px;
      text-align: center;
      align-items: center;
  }
  .logo {
    align-items: center;
}
  .banner {
      display: none;
  }
  .top-news {
    font-size: 1.5rem;
    margin:10px 5px 5px 5px;
    text-align: center;
    width: 100%;
}
.popular {
    font-size: 1.5rem;
    margin:5px 5px 5px 5px;
    text-align: center;
    width: 100%;
}
  .photos-top-news {
      width: 100%;
      overflow: hidden;
  }
  .photos-popular {
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  }
  .photos-developer {
  overflow: hidden;
  flex-direction: column;
  padding: 0px 0px 0px 0px;
  }
  .second-row {
  font-size: 1.5rem;
  }
  figcaption {
  font-size: 1.5rem;
  }
  .banner2 {
  display: none;
  }
  footer ul li a {
      text-align: center;
      font-size: 1.5rem;
      flex-direction: column;
      text-decoration: none;
  }
  .logo2 {
      width: 130px;
      height: 50px;
      left: 1000px;
  }
}
@media (min-width: 414px) and (max-width: 768px) {
  nav{
    padding: 0px 0 0px 17px;
    list-style: none;
  }
  li {
    display: inline block;
    padding: 6px 20px 8px 0px;
    font-size: 1.5rem;
    text-align: center;
  }
  li a{
    display: inline block;
    padding: 6px 20px 8px 0px;
    font-size: 1.5rem;
  }
  .logo {
      align-items: center;
  }
  .banner {
      display: none;
  }
  .top-news {
      font-size: 1.5rem;
      margin:10px 5px 5px 5px;
      text-align: center;
      width: 100%;
  }
  .popular {
      font-size: 1.5rem;
      margin:5px 5px 5px 5px;
      text-align: center;
      width: 100%;
  }
  .date {
      display: none;
  }
  .photos-top-news {
      width: 100%;
      overflow: hidden;
      flex-direction: column;
  }
  .photos-popular {
      width: 100%;
      overflow: hidden;
      flex-direction: column;
  }
  .photos-developer {
      overflow: hidden;
      flex-direction: column;
      padding: 0px 0px 0px 0px;
  }
  .second-row {
      font-size: 1rem;
  }
  figcaption {
      font-size: 1rem;
  }
  .banner2 {
      display: none;
  }
  footer ul li a{
      flex-direction: column;
      font-size: 1rem;
  }
  .logo2 {
      width: 120px;
      height: 50px;
      right: 100px;
      align-content: center;
  }
} */